page-contact {
    ion-card {
        overflow: unset;
    }
    .icon-header {
        max-width: 10%;
        border: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .toolbar-md {
        padding: 1px;
        min-height: 40px;
    }
    .toolbar {
        background-color: green;
    }

}
